

.vip-accountInfo {
    width: 100%;
    /* height: 225px; */
    padding: 25px 30px;
    border: 1px solid #ddd;
    position: relative;
    margin-bottom: 30px
}

.vip-accountInfo .accountInfo-title {
    font-size: 18px;
    color: #333
}

.vip-accountInfo .accountInfo-title>div {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 6px;
    position: relative
}

.vip-accountInfo .accountInfo-title>div>img {
    width: 16px;
    height: 16px
}

.vip-accountInfo .accountInfo-title>div .accountInfo-tips {
    visibility: hidden;
    transition: visibility .2s;
    display: inline-block;
    position: absolute;
    top: 23px;
    left: -160px;
    width: 320px;
    height: 80px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    padding: 15px 20px;
    z-index: 20
}

.vip-accountInfo .accountInfo-title>div:hover .accountInfo-tips {
    visibility: visible
}

.vip-accountInfo .accountInfo-title>span {
    font-size: 14px;
    color: #999
}

.vip-accountInfo .vip-accountInfo-left {
    float: left;
    vertical-align: top
}

.vip-accountInfo .vip-accountInfo-left .left-points-info {
    font-size: 0;
    margin-top: 16px
}

.vip-accountInfo .vip-accountInfo-left .left-points-info>div {
    display: inline-block;
    font-size: 22px;
    color: #58b49d
}

.vip-accountInfo .vip-accountInfo-left .left-points-info>div>img {
    width: 28px;
    height: 28px;
    vertical-align: middle
}

.vip-accountInfo .vip-accountInfo-left .left-points-info>div>span {
    display: inline-block;
    max-width: 74px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle
}

.vip-accountInfo .vip-accountInfo-left .left-points-info>div>a {
    font-size: 14px;
    color: #333;
    vertical-align: middle
}

.vip-accountInfo .vip-accountInfo-left .left-vip-date {
    font-size: 14px;
    color: #666;
    text-align: left;
    margin: 20px 0
}

.vip-accountInfo .vip-accountInfo-left .left-vip-detail {
    font-size: 0
}

.vip-accountInfo .vip-accountInfo-left .left-vip-detail>li {
    display: inline-block;
    margin-right: 40px;
    font-size: 14px
}

.vip-accountInfo .vip-accountInfo-left .left-vip-detail>li>a {
    color: #333
}

.vip-accountInfo .vip-accountInfo-left .left-vip-detail>li>a:hover {
    color: #58b49d
}

.vip-accountInfo .vip-accountInfo-left .left-vip-detail>li:last-child {
    margin: 0
}

.vip-accountInfo .accountInfo-separate-line {
    width: 1px;
    height: 100%;
    border-left: 1px solid #ddd;
    margin: 0 30px;
    float: left
}

.vip-accountInfo .vip-accountInfo-right {
    float: left;
    vertical-align: top
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container {
    margin-top: 17px
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li {
    float: left;
    margin-right: 8px
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li input:checked+.pay-label {
    border: 1px solid #58b49d;
    color: #58b49d
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li input:checked+.pay-label:after {
    content: ' ';
    position: absolute;
    display: inline-block;
    height: 19px;
    line-height: 38px;
    font-size: 18px;
    right: 0;
    background-image: url(/images/c-my-vip-selected.png);
    bottom: 0;
    width: 19px
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li label {
    font-weight: 400;
    margin-bottom: 0
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li .pay-label {
    border: 1px solid #eee;
    height: 38px;
    line-height: 38px;
    position: relative;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
    background-color: #f5f5f5
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li label.input-container {
    position: relative;
    height: 38px;
    width: 80px;
    border-radius: 2px;
    border: 1px solid #CCC;
    display: inline-block
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li label.input-container input {
    position: absolute;
    top: 0;
    left: 0;
    color: #333;
    width: 62px;
    text-align: center;
    height: 100%;
    line-height: 38px;
    background-color: #f5f5f5;
    border: none;
    font-size: 14px
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li label.input-container input:focus {
    font-size: 16px
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li label.input-container button {
    height: 19px;
    width: 18px;
    background-color: #CCC;
    position: absolute;
    border: none
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li label.input-container button.btn-up {
    top: 0;
    right: 0
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li label.input-container button.btn-up:after {
    content: "";
    width: 0;
    display: inline-block;
    position: absolute;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li label.input-container button.btn-down {
    bottom: 0;
    right: 0
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .recharge-detail li label.input-container button.btn-down:after {
    content: "";
    width: 0;
    display: inline-block;
    position: absolute;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container ul.payment-way {
    margin: 17px 0;
    height: auto
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container ul.payment-way li {
    width: auto;
    height: auto
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container ul.payment-way li input {
    height: 16px;
    display: inline-block;
    float: left;
    margin: 0 10px 0 0
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container ul.payment-way li label {
    float: left;
    display: inline-block;
    font-weight: 400;
    height: 16px;
    font-size: 16px;
    color: #333;
    line-height: 16px;
    background-repeat: no-repeat;
    margin-bottom: 0
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container button.button-pay {
    height: 38px;
    width: 120px;
    color: #fff;
    font-size: 16px;
    line-height: 38px;
    background-color: #58b49d;
    border-radius: 2px;
    border: 0
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .calculateResult {
    margin-left: 10px;
    font-size: 16px;
    color: #999;
    max-width: 250px;
    height: 38px;
    line-height: 38px;
    font-weight: 400
}

.vip-accountInfo .vip-accountInfo-right .right-recharge-container .calculateResult>span {
    display: inline-block;
    max-width: 86px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle
}

.vip-recharge .center-right-title {
    position: relative
}

.vip-recharge .center-right-title .vip-exchange-vip {
    position: absolute;
    right: 0;
    bottom: 8px;
    display: inline-block;
    font-size: 16px;
    color: #333
}

.vip-recharge .center-right-title .vip-exchange-vip>input {
    width: 220px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #58b49d;
    border-radius: 2px 0 0 2px;
    font-size: 14px;
    color: #999;
    padding-left: 10px;
    margin-left: 10px
}

.vip-recharge .center-right-title .vip-exchange-vip>input:focus {
    color: #333
}

.vip-recharge .center-right-title .vip-exchange-vip>button {
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: #58b49d;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 0 2px 2px 0;
    margin-left: -4px
}

.vip-recharge .vip-recharge-container .vip-recharge-form {
    /* width: 935px */
}

.vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw {
    float: left;
    position: relative;
    margin:20px 0px;
}

.vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw input:checked+.recharge-package-detail {
    border: 1px solid #58b49d
}

.vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw label {
    margin-bottom: 0
}

.vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw .recharge-package-detail {
    width: 210px;
    height: 170px;
    border: 1px solid #ddd;
    text-align: center
}

.vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw .recharge-package-detail .recharge-money {
    margin-top: 36px;
    font-size: 20px;
    color: #333;
    font-weight: 400
}

.vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw .recharge-package-detail .recharge-money>span {
    color: #58b49d;
    font-size: 23px;
    margin: 0 10px
}

.vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw .recharge-package-detail .recharge-tips {
    display: block;
    font-size: 14px;
    color: #666;
    font-weight: 400
}

.vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw .recharge-package-detail>button {
    background-color: #58b49d;
    width: 150px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
    margin-top: 15px;
    border: none
}

.vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw .recharge-package-detail>button:hover {
    background-color: #46927f
}

.vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw>span {
    display: inline-block;
    position: absolute;
    top: 1px;
    right: 16px;
    background-color: #ff7800;
    font-size: 12px;
    color: #fff;
    padding: 0 8px
}

.vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw:hover .recharge-package-detail {
    border: 1px solid #58b49d
}

.vip-privilege .vip-privilege-container ul {
    /* width: 935px */
}

.vip-privilege .vip-privilege-container ul li {
    float: left;
    padding: 30px 0 0 30px;
    border: 1px solid #ddd;
    /* width: 280px; */
    height: 130px;
    margin: 20px 30px 20px 0
}

.vip-privilege .vip-privilege-container ul li>img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: bottom
}

.vip-privilege .vip-privilege-container ul li>div {
    display: inline-block;
    color: #666;
    vertical-align: text-bottom
}

.vip-privilege .vip-privilege-container ul li>div>p {
    font-size: 22px
}

.vip-privilege .vip-privilege-container ul li>div>span {
    font-size: 14px
}

.my-vip-layer {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100
}

.my-vip-layer .my-vip-layer-container {
    width: 980px;
    height: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -490px;
    margin-top: -260px;
    background-color: #fff;
    padding: 50px 35px 60px
}

.my-vip-layer .my-vip-layer-container .vip-layer-close {
    background: url(../../images/c-pay-close.png);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px
}

.my-vip-layer .my-vip-layer-container .vip-layer-userInfo>img {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    border: 1px solid #ddd;
    float: left;
    margin-right: 15px
}

.my-vip-layer .my-vip-layer-container .vip-layer-userInfo>div {
    font-size: 20px;
    color: #333;
    float: left
}

.my-vip-layer .my-vip-layer-container .vip-layer-userInfo>div>span {
    font-size: 14px;
    color: #333;
    margin-left: 60px
}

.my-vip-layer .my-vip-layer-container .vip-layer-package {
    margin: 40px 0
}

.my-vip-layer .my-vip-layer-container .vip-layer-package .l-package-title {
    font-size: 16px;
    color: #333;
    margin-bottom: 6px
}

.my-vip-layer .my-vip-layer-container .vip-layer-package .l-package-container {
    width: 945px
}

.my-vip-layer .my-vip-layer-container .vip-layer-package .l-package-container .l-package-raw {
    float: left;
    margin-right: 15px;
    position: relative;
    text-align: center
}

.my-vip-layer .my-vip-layer-container .vip-layer-package .l-package-container .l-package-raw input:checked+.l-package-detail {
    border: 1px solid #58b49d
}

.my-vip-layer .my-vip-layer-container .vip-layer-package .l-package-container .l-package-raw label {
    font-weight: 400
}

.my-vip-layer .my-vip-layer-container .vip-layer-package .l-package-container .l-package-raw .l-package-detail {
    border: 1px solid #ddd;
    width: 220px;
    height: 120px;
    padding-top: 30px
}

.my-vip-layer .my-vip-layer-container .vip-layer-package .l-package-container .l-package-raw .l-package-detail .l-package-money {
    font-size: 20px;
    color: #333
}

.my-vip-layer .my-vip-layer-container .vip-layer-package .l-package-container .l-package-raw .l-package-detail .l-package-money>span {
    font-size: 23px;
    color: #58b49d;
    margin: 0 8px
}

.my-vip-layer .my-vip-layer-container .vip-layer-package .l-package-container .l-package-raw .l-package-detail .l-package-tips {
    display: block;
    font-size: 14px;
    color: #666
}

.my-vip-layer .my-vip-layer-container .vip-layer-package .l-package-container .l-package-raw>span {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background-color: #ff7800;
    padding: 0 8px;
    position: absolute;
    top: 0;
    right: 0
}

.my-vip-layer .my-vip-layer-container .vip-layer-package .l-package-container .l-package-raw:hover .l-package-detail {
    border: 1px solid #58b49d
}

.my-vip-layer .my-vip-layer-container .vip-layer-payType {
    font-size: 0;
    margin-bottom: 50px
}

.my-vip-layer .my-vip-layer-container .vip-layer-payType>div {
    display: inline-block;
    height: 35px;
    line-height: 35px
}

.my-vip-layer .my-vip-layer-container .vip-layer-payType>div img {
    width: 120px;
    height: 35px;
    margin-left: 15px
}

.my-vip-layer .my-vip-layer-container .vip-layer-payType .l-pay-type-separate {
    height: 20px;
    border-left: 1px solid #666;
    vertical-align: middle;
    margin: 0 20px
}

.my-vip-layer .my-vip-layer-container .layer-pay-btn {
    border: none;
    border-radius: 2px;
    background-color: #58b49d;
    color: #fff;
    font-size: 16px;
    width: 300px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin: 0 auto
}

.my-vip-layer .my-vip-layer-container .layer-pay-btn:hover {
    background-color: #46927f
}
.vip-privilege-container .col-xs-4{width:29.5%;}

@media screen and (max-width: 1170px) {   
    .vip-privilege .vip-privilege-container ul li>img{
        width: 30px;
        height: 30px;margin-right:0px;margin-bottom: 15px;
    }
    .vip-privilege .vip-privilege-container ul li{margin: 20px 20px 20px 0;}
} 
@media screen and (max-width: 992px) {
/* @media screen and (max-width: 1024px) { */
    .vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw .recharge-package-detail>button{width:80%;}
    .vip-accountInfo-right{margin-top:20px;}
    .vip-privilege .vip-privilege-container ul li{padding:20px 0 0 20px;margin:20px 20px 20px 0;}
    .vip-privilege .vip-privilege-container ul li>img{
        width:45px;height:45px;
        margin-bottom: 0px;
    } 
    .vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw>span{right:42px;}
}
@media screen and (max-width: 768px) {
    .vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw>span{right: 136px;}
}
@media screen and (max-width: 480px) {
    .vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw>span{right: 16px;}
    div.vip-accountInfo {
        height: initial;
    }
    .vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw,
    .vip-recharge .vip-recharge-container .vip-recharge-form .vip-recharge-raw .recharge-package-detail,
    .vip-recharge .vip-recharge-container .vip-recharge-form,
    .vip-privilege .vip-privilege-container ul,
    .vip-privilege .vip-privilege-container ul li {
        width: 100%;
    } 
    .vip-recharge .center-right-title .vip-exchange-vip{position: relative;}
    .vip-recharge .center-right-title .vip-exchange-vip>input{
        width:165px;
    }
}