<div class="my-center-infolist pull-left col-xs-7 col-md-9 col-sm-9">
    <div class="my-center-infolist-container" riot-tag="rv-myvideo-recordlist">
        <div class="myvideorecord-vipinfo">
            <span class="xyvideo-icon xyvideo-icon-announcement"></span> 会员公告区</div>
        <!-- 浏览记录 -->
        <div class="myvideorecord-recredlist clearfix">
            <div class="myvideorecord-recredlist-title">
                <div class="myvideorecord-vtitle-container clearfix">
                    <div class="pull-left"> 最近浏览记录</div>
                </div>
            </div>
            <div class="myvideorecord-recredlist-info" riot-tag="rv-myvideo-box">
                <div class="myvideo-container clearfix">
                    <div class="col-lg-3 myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/5D7mepP2zLc47Uj4" data-video-id="8506">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-12-30/WEfjP9utgGYbOcMBqqsg_thumb_1483087353.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/5D7mepP2zLc47Uj4">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left col-xs-5"> 24347人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right col-xs-5">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:13:38 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/5D7mepP2zLc47Uj4">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="8506">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="8506">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/5D7mepP2zLc47Uj4"> 番号MKMP-095 義父に犯される若妻 佐倉絆 不伦之恋 </a>
                    </div>
                    <div class="col-lg-3 myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/v6W0SKd08Zdn671a" data-video-id="5059">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-10-29/30MaJFFEZ5Z4ZAkCFGCO_thumb_1.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/v6W0SKd08Zdn671a">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 28770人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:04:22 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/v6W0SKd08Zdn671a">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="5059">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="5059">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/v6W0SKd08Zdn671a"> 无套内射人妻小骚货毛多水多 </a>
                    </div>
                    <div class="col-lg-3 myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/v6W0SKd08Zdn671a" data-video-id="5059">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-10-29/30MaJFFEZ5Z4ZAkCFGCO_thumb_1.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/v6W0SKd08Zdn671a">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 28770人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:04:22 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/v6W0SKd08Zdn671a">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="5059">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="5059">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/v6W0SKd08Zdn671a"> 无套内射人妻小骚货毛多水多 </a>
                    </div>
                    <div class="col-lg-3 myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/v6W0SKd08Zdn671a" data-video-id="5059">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-10-29/30MaJFFEZ5Z4ZAkCFGCO_thumb_1.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/v6W0SKd08Zdn671a">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 28770人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:04:22 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/v6W0SKd08Zdn671a">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="5059">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="5059">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/v6W0SKd08Zdn671a"> 无套内射人妻小骚货毛多水多 </a>
                    </div>
                    <div class="col-lg-3 myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/v6W0SKd08Zdn671a" data-video-id="5059">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-10-29/30MaJFFEZ5Z4ZAkCFGCO_thumb_1.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/v6W0SKd08Zdn671a">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 28770人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:04:22 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/v6W0SKd08Zdn671a">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="5059">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="5059">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/v6W0SKd08Zdn671a"> 无套内射人妻小骚货毛多水多 </a>
                    </div>
                </div>
            </div>
            <!-- <div class="myvideorecord-recredlist-info" riot-tag="rv-myvideo-nothing">
                {if count($user.history)} {foreach $user.history as $h}
                <div class="myvideo-container clearfix">
                    <div class="myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="{:url('vedio/detail',['id'=>$h.id])}" data-video-id="24557">
                                <div class="myvideo-search-img">
                                    <img src="{$h.fengmian}">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="{:url('vedio/detail',['id'=>$h.id])}">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left">{:mt_rand(1000,10000)}人观看</div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>1:15:54
                                </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="{:url('vedio/detail',['id'=>$h.id])}">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="{:url('vedio/detail',['id'=>$h.id])}">{$h.name} </a>
                    </div>
                </div>
                {/foreach} {else/}
                <div class="myvideo-nothing">
                    <span class="xyvideo-icon xyvideo-icon-warning"></span>暂无记录,去
                    <a href="/" >首页</a>观看视频
                </div>
                {/if}
            </div> -->
        </div>

        <!-- 我的视频 -->
        <div class="myvideorecord-myvideolist clearfix">
            <div class="myvideorecord-myvideolist-title">
                <div class="myvideorecord-vtitle-container clearfix">
                    <div class="pull-left"> 我的视频</div>
                    <div class="pull-right ">
                        <a href="javaScript:void(0)">查看更多&gt;&gt;</a>
                    </div>
                </div>
            </div>
            <div class="myvideorecord-myvideolist-info" riot-tag="rv-myvideo-box">
                <div class="myvideo-container clearfix">
                    <div class="col-lg-3 myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k" data-video-id="2249">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-09-02/pI3pu0ZdltjsR6VC19ud_thumb_3.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/9X7DsnuzwmwlRk5k">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 107267人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:03:05 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="2249">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="2249">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/9X7DsnuzwmwlRk5k"> 带着跳蛋下班回来 </a>
                    </div>
                    <div class="col-lg-3 myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k" data-video-id="2249">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-09-02/pI3pu0ZdltjsR6VC19ud_thumb_3.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/9X7DsnuzwmwlRk5k">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 107267人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:03:05 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="2249">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="2249">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/9X7DsnuzwmwlRk5k"> 带着跳蛋下班回来 </a>
                    </div>
                    <div class="col-lg-3 myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k" data-video-id="2249">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-09-02/pI3pu0ZdltjsR6VC19ud_thumb_3.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/9X7DsnuzwmwlRk5k">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 107267人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:03:05 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="2249">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="2249">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/9X7DsnuzwmwlRk5k"> 带着跳蛋下班回来 </a>
                    </div>
                    <div class="col-lg-3 myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k" data-video-id="2249">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-09-02/pI3pu0ZdltjsR6VC19ud_thumb_3.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/9X7DsnuzwmwlRk5k">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 107267人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:03:05 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="2249">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="2249">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/9X7DsnuzwmwlRk5k"> 带着跳蛋下班回来 </a>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
            <!-- <div class="myvideorecord-myvideolist-info" riot-tag="rv-myvideo-box">
                {if count($upload)}
                <div class="myvideo-container clearfix">
                    {foreach $upload as $h}
                    <div class="myvideo-container clearfix">
                        <div class="myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                            <div class="myvideo-box-top">
                                <a target="_blank" style="text-decoration: none;" href="{:url('vedio/detail',['id'=>$h.id])}" data-video-id="24557">
                                    <div class="myvideo-search-img">
                                        <img src="{$h.fengmian}">
                                    </div>
                                </a>
                                <a class="xvideo-thumbnail-mask hide" target="_blank"  href="{:url('vedio/detail',['id'=>$h.id])}">
                                    <i class="xyvideo-icon xyvideo-icon-play"></i>
                                </a>
                                <div class="myvideo-mask-layer">
                                    <div class="myvideo-mask-layer-left v-float-left">{:mt_rand(1000,10000)}人观看</div>
                                    <div class="myvideo-mask-layer-right v-float-right">
                                        <i class="xyvideo-icon xyvideo-icon-clock"></i>1:15:54
                                    </div>
                                </div>
                                <div class="myvideo-mask-layer-desc">
                                    <div class="myvideo-mask-layer-play-btn">
                                        <a target="_blank" style="text-decoration: none;" href="{:url('vedio/detail',['id'=>$h.id])}">
                                            <i class="xyvideo-icon xyvideo-icon-video"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a class="myvideo-myvideo-name" target="_blank" href="{:url('vedio/detail',['id'=>$h.id])}">{$h.name} </a>
                        </div>
                    </div>

                    <div class="myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="{:url('vedio/detail',['id'=>$h.id])}" data-video-id="24557">
                                <div class="myvideo-search-img">
                                    <img src="{$h.fengmian}">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="{:url('vedio/detail',['id'=>$h.id])}">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left">{:mt_rand(1000,10000)}人观看</div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>{$h.time_long}
                                </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="{:url('vedio/detail',['id'=>$h.id])}">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="{:url('vedio/detail',['id'=>$h.id])}">{$h.name} </a>
                    </div>
                    {/foreach}
                </div>
                {else/}
                <div class="myvideo-nothing-upload">
                    <span class="xyvideo-icon xyvideo-icon-warning"></span>您还没有上传视频哦，现在
                    <a href="/v/upload" >上传视频</a>
                </div>
                {/if}
            </div> -->
        </div>

        <!--我的收藏-->
        <div class="myvideorecord-mycollection clearfix">
            <div class="myvideorecord-mycollection-title">
                <div class="myvideorecord-vtitle-container clearfix">
                    <div class="pull-left"> 我的收藏</div>
                    <div class="pull-right myvideorecord-mycollection-link">
                        <a href="javaScript:void(0)">查看更多&gt;&gt;</a>
                    </div>
                </div>
            </div>
            <div class="myvideorecord-mycollection-info" riot-tag="rv-myvideo-box">
                <div class="myvideo-container clearfix">
                    <div class="col-lg-3  myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k" data-video-id="2249">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-09-02/pI3pu0ZdltjsR6VC19ud_thumb_3.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/9X7DsnuzwmwlRk5k">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 107267人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:03:05 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="2249">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="2249">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/9X7DsnuzwmwlRk5k"> 带着跳蛋下班回来 </a>
                    </div>

                    <div class="col-lg-3  myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k" data-video-id="2249">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-09-02/pI3pu0ZdltjsR6VC19ud_thumb_3.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/9X7DsnuzwmwlRk5k">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 107267人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:03:05 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="2249">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="2249">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/9X7DsnuzwmwlRk5k"> 带着跳蛋下班回来 </a>
                    </div>

                    <div class="col-lg-3  myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k" data-video-id="2249">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-09-02/pI3pu0ZdltjsR6VC19ud_thumb_3.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/9X7DsnuzwmwlRk5k">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 107267人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:03:05 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="2249">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="2249">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/9X7DsnuzwmwlRk5k"> 带着跳蛋下班回来 </a>
                    </div>

                    <div class="col-lg-3  myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k" data-video-id="2249">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-09-02/pI3pu0ZdltjsR6VC19ud_thumb_3.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/9X7DsnuzwmwlRk5k">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 107267人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:03:05 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="2249">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="2249">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/9X7DsnuzwmwlRk5k"> 带着跳蛋下班回来 </a>
                    </div>

                    <div class="col-lg-3  myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k" data-video-id="2249">
                                <div class="myvideo-search-img">
                                    <img src="http://img.qstaic.com:80/thumb/2016-09-02/pI3pu0ZdltjsR6VC19ud_thumb_3.jpg">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="/v/9X7DsnuzwmwlRk5k">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left"> 107267人观看 </div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>0:03:05 </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="/v/9X7DsnuzwmwlRk5k">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="myvideo-mask-myvido-modify">
                                <div class="myvideo-mask-myvido-modify-font" data-myvideo-id="2249">编辑</div>
                            </div>
                            <div class="myvideo-mask-myvido-delete">
                                <div class="myvideo-mask-myvido-delete-font" data-mycollectionvideo-id="2249">删除</div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="/v/9X7DsnuzwmwlRk5k"> 带着跳蛋下班回来 </a>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>


            <!-- <div class="myvideorecord-mycollection-info" riot-tag="rv-myvideo-box">
                {if count($user.collection)} {foreach $user['collection'] as $h}
                <div class="myvideo-container clearfix">
                    <div class="myvideo-box myvideo-box-marginright-33 myvideo-box-marginbottom-14px">
                        <div class="myvideo-box-top">
                            <a target="_blank" style="text-decoration: none;" href="{:url('vedio/detail',['id'=>$h.id])}" data-video-id="24557">
                                <div class="myvideo-search-img">
                                    <img src="{$h.fengmian}">
                                </div>
                            </a>
                            <a class="xvideo-thumbnail-mask hide" target="_blank"  href="{:url('vedio/detail',['id'=>$h.id])}">
                                <i class="xyvideo-icon xyvideo-icon-play"></i>
                            </a>
                            <div class="myvideo-mask-layer">
                                <div class="myvideo-mask-layer-left v-float-left">{:mt_rand(1000,10000)}人观看</div>
                                <div class="myvideo-mask-layer-right v-float-right">
                                    <i class="xyvideo-icon xyvideo-icon-clock"></i>1:15:54
                                </div>
                            </div>
                            <div class="myvideo-mask-layer-desc">
                                <div class="myvideo-mask-layer-play-btn">
                                    <a target="_blank" style="text-decoration: none;" href="{:url('vedio/detail',['id'=>$h.id])}">
                                        <i class="xyvideo-icon xyvideo-icon-video"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a class="myvideo-myvideo-name" target="_blank" href="{:url('vedio/detail',['id'=>$h.id])}">{$h.name} </a>
                    </div>
                </div>
                {/foreach} {else/}
                <div class="myvideo-nothing">
                    <span class="xyvideo-icon xyvideo-icon-warning"></span>暂无记录,去
                    <a href="/" >首页</a>观看视频
                </div>
                {/if}
            </div> -->
        </div>
    </div>
</div>