<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <!--[if IE 9]> <meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1"> <![endif]-->
    <!--[if !IE 9]> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <![endif]-->

    <!--[if IE]>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <![endif]-->
    <!--[if !IE]>
    <meta name="viewport"
          content="width=device-width,initial-scale=.3"/>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>登录 - 轻草视频</title>
    <meta name="csrf-token" content="ySCKVnFfYkkf0Sh9HZuexcXqaWFiiwQtfeTUQXTA">
    <script type="text/javascript">
        document.write('<style>' +
            '@font-face {' +
            "font-family: 'xyvideo';" +
            "src:url('/fonts/xyvideo.eot?mm4ssd');" +
            "src:url('/fonts/xyvideo.eot?mm4ssd#iefix') format('embedded-opentype')," +
            "url('/fonts/xyvideo.ttf?mm4ssd') format('truetype')," +
            "url('/fonts/xyvideo.woff?mm4ssd') format('woff')," +
            "url('/fonts/xyvideo.svg?mm4ssd#xyvideo') format('svg');" +
            "font-weight: normal;" +
            "font-style: normal;}" +
            '</style>');
    </script>
    <!-- <link rel="stylesheet" href="http://qcstatic.qstaic.com/css/vs-daa0d61020.min.css" /> -->
    <link rel="shortcut icon" href="http://qcstatic.qstaic.com/images/favicon-bc325230c7.ico" />

    <link rel="stylesheet" href="http://vedio.cc/assets/css/sb.css" />
    <link rel="stylesheet" href="http://vedio.cc/assets/css/mycenter.css" />
    <link rel="stylesheet" href="http://vedio.cc/assets/css/login.css" />
    <link rel="stylesheet" href="http://vedio.cc/assets/css/main.css" />
    <!--[if lte IE 9]>
    <script type="text/javascript" src="http://qcstatic.qstaic.com/js/v-ie8-ae20bd4c59.min.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <script type="text/javascript" src="http://qcstatic.qstaic.com/js/v-ie6-021cde3cf5.min.js"></script>
    <script>DD_belatedPNG.fix('.pngfix,.xyvideo-icon);</script>
    <![endif]-->
    <script src="http://qcstatic.qstaic.com/js/vj-020e9fbc3e.min.js"></script>
    <script src="http://qcstatic.qstaic.com/js/ly/layer-1512b84986.min.js"></script>
    <!-- <link rel="stylesheet" href="http://qcstatic.qstaic.com/css/video-login-a898f81ae1.min.css" /> -->
</head>

<body>

    <div class="topnav-fix-nav black-xingyu-topnav">
        <div class="container clearfix">
            <a class="top-nav-fix-guide" href="http://d.z.v2dz.space/qc/?489" target="_blank">地址发布页</a>
            <span class="top-nav-fix-guide">&nbsp;|&nbsp;</span>
            <a class="top-nav-fix-guide" href="http://email.qingcaodizhi.at.gmx.com.q4c7.space/about/accessguide" target="_blank">访问指南</a>

            <div class="pull-right xingyu-topnav-btn-group">
                <a href="{:url('user/login')}" name="btn-login" class="top-nav-fix-guide">登录</a>
                <span>|</span>
                <a href="{:url('user/register')}" name="btn-register" class="top-nav-fix-guide">注册</a>

            </div>
        </div>
    </div>

    <header class="xingyu-topnav navbar navbar-static-top navbar-inverse" style="border: none;" id="top">
        <div class="v-container clearfix topnav-mainnav">
            <div class="navbar-header">
                <button style="border:none;" class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar"
                    aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img class="clearfix topnav-logo-img " src="/assets/img/logo.jpg">
                </a>
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse " style="border:none;">
                <ul class="nav navbar-nav mainnav-nav-div">
                    <li>
                        <a href="http://email.qingcaodizhi.at.gmx.com.q4c7.space/upgrade" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'VIP'])">VIP</a>
                    </li>
                    <li>
                        <a href="http://email.qingcaodizhi.at.gmx.com.q4c7.space/integral" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', '大秀套餐'])">大秀套餐</a>
                    </li>
                    <li>
                        <a href="http://email.qingcaodizhi.at.gmx.com.q4c7.space/v/upload" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', '上传'])">上传</a>
                    </li>
                    <li>
                        <a href="http://baicai.bc88.space/prize" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', '領紅包'])">領紅包</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right visible-lg">
                    <li>
                        <div style="padding-top: 15px;font-size:0;">
                            <div class="xingyu-search">
                                <form method="GET" action="{:url('index/search')}" style="width: 265px;">
                                    <input type="text" class="form-control" name="tag_name" placeholder="">
                                    <a style="text-decoration: none" href="javascript:void(0)" class="xvideo-href-search">
                                        <span class="xyvideo-icon xyvideo-icon-query"></span>
                                    </a>
                                    <input type="submit" class="hide btn-xvideo-search">
                                </form>
                            </div>

                            <div class="top-main-nav-collection">
                                <img src="public/img/collection.png">收藏书签
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="side-advertisement-left-top hidden-xs">
        <div class="side-adv-img">
            <a href="http://www.v2file.com/file_download/102401&1/?src=qc" target="_blank">
                <img style="width:120px;height: 260px;" src="http://img.qstaic.com:80/advertising/2018-04-03/2018-04-03-16-39-34_dK94VfIEox.jpg"
                />
            </a>
        </div>
        <button class="side-adv-btn-cls">关闭</button>
    </div>
    <div class="side-advertisement-left-bottom hidden-xs">
        <div class="side-adv-img">
            <a href="http://v2tui.com/" target="_blank">
                <img style="width:180px;height: 180px;" src="http://img.qstaic.com:80/advertising/2018-01-30/2018-01-30-11-10-29_2xIHDgH325.gif"
                />
            </a>
        </div>
        <button class="side-adv-btn-cls">关闭</button>
    </div>
    <div class="side-advertisement-right-top hidden-xs">
        <div class="side-adv-img">
            <a href="http://gamesbt.net/C/html/bianse.html?pid=zt1nib&cid=1611" target="_blank">
                <img style="width:120px;height: 260px;" src="http://img.qstaic.com:80/advertising/2018-03-20/2018-03-20-21-04-38_z35YS2uaRS.gif"
                />
            </a>
        </div>
        <button class="side-adv-btn-cls">关闭</button>
    </div>
    <div class="side-advertisement-right-bottom hidden-xs">
        <div class="side-adv-img">
            <a href="http://v2tui.com/" target="_blank">
                <img style="width:180px;height: 180px;" src="http://img.qstaic.com:80/advertising/2018-01-30/2018-01-30-11-10-04_V0nzZ53Q04.gif"
                />
            </a>
        </div>
        <button class="side-adv-btn-cls">关闭</button>
    </div>
    <div class="v-container xvideo-register-container clearfix"  >
        <div class="col-xs-12 nopadding" style="margin-top:25px;margin-bottom:20px">
            <div class="col-sm-12 col-lg-6 col-md-3 visible-lg-inline-block visible-md-inline-block" style="text-align: center;padding: 0;height: 498px;display: table;">
                <div style="display: table-cell;vertical-align: middle;">

                </div>
            </div>

            <div class="col-sm-12 col-lg-6 col-md-9">
                <div class="xvideo-panel">
                    <div class="xvideo-panel-header">
                        <div class="xvideo-panel-header-title pull-left">
                            视频通行证注册
                        </div>
                        <div class="xvideo-panel-header-opeartion pull-right">

                        </div>
                    </div>
                    <div class="xvideo-panel-body">
                        <form class="xvideo-form-validation form-horizontal" role="form" method="POST" >
                            {:token()}
                            <div class="form-group">
                                <label class="col-xs-3 control-label login-lbl">用户名:</label>

                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="username" value="">

                                    <div class="">
                                        <i name="name" class="icon
                                           ">

                                        </i>
                                        <label name="name" class=""></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label login-lbl">密码:</label>

                                <div class="col-xs-9">
                                    <input type="password" class="form-control" name="password" title="password">

                                    <div class="">
                                        <i name="password" class="icon "></i>
                                        <label name="password" class=""></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label login-lbl">密码确认:</label>

                                <div class="col-xs-9">
                                    <input type="password" class="form-control" name="repassword" title="password">

                                    <div class="">
                                        <i name="password_confirmation" class="icon "></i>
                                        <label name="password_confirmation" class=""></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label login-lbl">邮件:</label>

                                <div class="col-xs-9">
                                    <input type="text" class="form-control" name="email" value="">

                                    <div class="">
                                        <i name="email" class="icon "></i>
                                        <label name="email" class=""></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label login-lbl">性别:</label>

                                <div class="col-xs-9">
                                    <label class="radio-inline" for="type-0">
                                        <div class="iradio_square-pink checked" style="position: relative;">
                                            <input type="radio" name="gender" id="type-0" value="1" checked="checked" style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        男
                                    </label>
                                    <label class="radio-inline" for="type-1">
                                        <div class="iradio_square-pink" style="position: relative;">
                                            <input type="radio" name="sex" id="type-1" value="0" style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        女
                                    </label>
                                </div>
                                <div class="col-xs-4">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0;">
                                <div class="col-xs-6 col-xs-offset-2">
                                    <div name="age" class="checkbox">
                                        <label>
                                            <div class="icheckbox_square-pink checked" style="position: relative;">
                                                <input type="checkbox" name="remember" checked="" style="position: absolute; opacity: 0;">
                                                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                            </div> 我已经满18周岁?
                                        </label>
                                    </div>
                                </div>
                                <div style="margin-top: 7px;" class="col-xs-4">
                                    <i name="age" class=""></i>
                                    <label name="age" class=""></label>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-7 col-xs-offset-2 clearfix">
                                    <div name="agreement" class="checkbox pull-left" style="width: 100px;">
                                        <label>
                                            <div class="icheckbox_square-pink checked" style="position: relative;">
                                                <input type="checkbox" name="remember" checked="" style="position: absolute; opacity: 0;">
                                                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                            </div> 我同意
                                        </label>
                                    </div>
                                    <a class="btn-link pull-left" target="_blank" href="http://email.qingcaodizhi.at.gmx.com.q4c7.space/about/agreement">
                                        &lt;&lt;用户协议&gt;&gt;
                                    </a>
                                </div>
                                <div class="" style="float:left;margin-left:110px;">
                                    <i name="agreement" class=""></i>
                                    <label name="agreement" class=""></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-10 col-sm-offset-2 xvideo-btn-login">
                                    <button type="submit" class="btn btn-lg btn-danger">
                                        <i class="fa fa-btn fa-sign-in"></i>注册
                                    </button>
                                </div>
                                <div class="col-xs-10 col-xs-offset-2 xvideo-btn-login text-danger">
                                    <i name="all_check_result" class="has-error"></i>
                                    <label name="all_check_result" class=""></label>
                                </div>
                            </div>
                            <input type="submit" name="submit" hidden="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 尾部导航 -->
    <div class="xvideo-footer">

        <div class="xvideo-footer-partner">
            <div>
                <div class="xvideo-footer-partner-title">合作伙伴：</div>
                <div class="xvideo-footer-partner-container">
                    <div>
                        <a href="http://nima1b.space" class="xvideo-footer-partner-content" target="_blank">
                            尼玛导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://shu1.space/" class="xvideo-footer-partner-content" target="_blank">
                            熟女导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://email.qingcaodizhi.at.gmail.com.qa0.space/v/search?title=%E5%9B%BD%E4%BA%A7&amp;d=1" class="xvideo-footer-partner-content"
                            target="_blank">
                            国产精选视频
                        </a>|
                    </div>
                    <div>
                        <a href="http://nvyouwp.space" class="xvideo-footer-partner-content" target="_blank">
                            找女优导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://email.v2dizhi.at.gmail.com.vi2n.space" class="xvideo-footer-partner-content" target="_blank">
                            V2视频
                        </a>|
                    </div>
                    <div>
                        <a href="http://chunse.c1s0.space" class="xvideo-footer-partner-content" target="_blank">
                            春色视频
                        </a>|
                    </div>
                    <div>
                        <a href="http://email.ysspdizhi.at.gmx.com.y1es.space" class="xvideo-footer-partner-content" target="_blank">
                            夜色视频
                        </a>|
                    </div>
                    <div>
                        <a href="http://bense.b71e.space" class="xvideo-footer-partner-content" target="_blank">
                            本色视频
                        </a>|
                    </div>
                    <div>
                        <a href="https://idiyifulidaohang.space" class="xvideo-footer-partner-content" target="_blank">
                            第一福利导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://email.hongxingdizhi.at.gmail.com.re3d.space" class="xvideo-footer-partner-content" target="_blank">
                            红杏成人视频
                        </a>|
                    </div>
                    <div>
                        <a href="http://email.lvchadz.at.gmx.com.1gta.space" class="xvideo-footer-partner-content" target="_blank">
                            绿茶啪啪视频
                        </a>|
                    </div>
                    <div>
                        <a href="http://email.yingtaodizhi.at.gmx.com.yt30.space" class="xvideo-footer-partner-content" target="_blank">
                            樱桃视频
                        </a>|
                    </div>
                    <div>
                        <a href="http://huangxx.space" class="xvideo-footer-partner-content" target="_blank">
                            一个很黄的导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://email.d8dizhi.at.gmail.com.do88.space" class="xvideo-footer-partner-content" target="_blank">
                            D8骚逼视频
                        </a>|
                    </div>
                    <div>
                        <a href="http://5g.d.h.5gnv.space" class="xvideo-footer-partner-content" target="_blank">
                            五姑娘导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://caolvcha.d.h.c9ao.space" class="xvideo-footer-partner-content" target="_blank">
                            草绿茶导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://dh.19xa.com/" class="xvideo-footer-partner-content" target="_blank">
                            福利导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.landh.club/" class="xvideo-footer-partner-content" target="_blank">
                            蓝导航
                        </a>|
                    </div>
                    <div>
                        <a href="https://www.fanqianglu.com/" class="xvideo-footer-partner-content" target="_blank">
                            翻墙撸导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://bige.d.h.bigegg.space" class="xvideo-footer-partner-content" target="_blank">
                            逼格福利导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://d.officeblog.jp/" class="xvideo-footer-partner-content" target="_blank">
                            蓝色导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.xx02.info" class="xvideo-footer-partner-content" target="_blank">
                            绿桃K导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://chi5.space" class="xvideo-footer-partner-content" target="_blank">
                            痴汉导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.lw78.cc/" class="xvideo-footer-partner-content" target="_blank">
                            老王福利导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.xx03.info" class="xvideo-footer-partner-content" target="_blank">
                            聚百艳导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://998de.com/" class="xvideo-footer-partner-content" target="_blank">
                            色博士导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://email.dizhi.at.f2.com.2off.space" class="xvideo-footer-partner-content" target="_blank">
                            火兔乱伦视频
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.jjfldh.com/" class="xvideo-footer-partner-content" target="_blank">
                            JJ福利导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.3699dhxx.com/" class="xvideo-footer-partner-content" target="_blank">
                            3699福利导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://semmdh.com/" class="xvideo-footer-partner-content" target="_blank">
                            色妹妹导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://dh.fuli.nz/" class="xvideo-footer-partner-content" target="_blank">
                            福利导航nz
                        </a>|
                    </div>
                    <div>
                        <a href="http://fbq.dz2.com.51rd.net" class="xvideo-footer-partner-content" target="_blank">
                            51热点社区
                        </a>|
                    </div>
                    <div>
                        <a href="http://dfjdh.xyz/" class="xvideo-footer-partner-content" target="_blank">
                            打飞机专用导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://rddh.me/" class="xvideo-footer-partner-content" target="_blank">
                            热点导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://103.248.23.203" class="xvideo-footer-partner-content" target="_blank">
                            无界导航
                        </a>|
                    </div>
                    <div>
                        <a href="https://qsndh.com/" class="xvideo-footer-partner-content" target="_blank">
                            青少年导航
                        </a>|
                    </div>
                    <div>
                        <a href="https://91dh.org/" class="xvideo-footer-partner-content" target="_blank">
                            91福利导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.xx01.info" class="xvideo-footer-partner-content" target="_blank">
                            色驴子导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://bililidh.com/" class="xvideo-footer-partner-content" target="_blank">
                            哔哩哩导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://18sx.soup.io/" class="xvideo-footer-partner-content" target="_blank">
                            18sole成人论坛
                        </a>|
                    </div>
                    <div>
                        <a href="http://dajijidaohang.xyz/" class="xvideo-footer-partner-content" target="_blank">
                            大鸡鸡导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://yptq.d.h.y9p1.space" class="xvideo-footer-partner-content" target="_blank">
                            约炮偷情
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.baoma88.me/" class="xvideo-footer-partner-content" target="_blank">
                            宝马88导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.mimifuli.me/" class="xvideo-footer-partner-content" target="_blank">
                            秘密导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://qq1kg.com/" class="xvideo-footer-partner-content" target="_blank">
                            男神视频
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.hong22.com/" class="xvideo-footer-partner-content" target="_blank">
                            红杏福利导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.peng55.com/" class="xvideo-footer-partner-content" target="_blank">
                            超碰福利导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://hudiebi888.com/" class="xvideo-footer-partner-content" target="_blank">
                            蝴蝶逼导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://laoyadh.com/" class="xvideo-footer-partner-content" target="_blank">
                            老鸭导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://rock189.com" class="xvideo-footer-partner-content" target="_blank">
                            火箭社区
                        </a>|
                    </div>
                    <div>
                        <a href="http://daaida.space" class="xvideo-footer-partner-content" target="_blank">
                            大爱导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://c.dmb.hk/" class="xvideo-footer-partner-content" target="_blank">
                            绿色小导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.sosoavdh.com/" class="xvideo-footer-partner-content" target="_blank">
                            SOAV导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://z.h.g.fa.bu.y.zanghuage.me/" class="xvideo-footer-partner-content" target="_blank">
                            葬花阁导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.caoliusese.com/" class="xvideo-footer-partner-content" target="_blank">
                            草榴色色导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://9av.tv/" class="xvideo-footer-partner-content" target="_blank">
                            9AV导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.lw78.cc/bbs" class="xvideo-footer-partner-content" target="_blank">
                            老王社区
                        </a>|
                    </div>
                    <div>
                        <a href="http://dagongji1.info/" class="xvideo-footer-partner-content" target="_blank">
                            大公鸡导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.yyai.pw/" class="xvideo-footer-partner-content" target="_blank">
                            夜夜爱导航
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.papapa88.info" class="xvideo-footer-partner-content" target="_blank">
                            啪啪啪论坛
                        </a>|
                    </div>
                    <div>
                        <a href="http://223zy.com/" class="xvideo-footer-partner-content" target="_blank">
                            芒果撸片
                        </a>|
                    </div>
                    <div>
                        <a href="http://www.lw78hd.com" class="xvideo-footer-partner-content" target="_blank">
                            老王高清视频
                        </a>|
                    </div>
                </div>

            </div>
        </div>

        <div class="xvideo-footer-caution v-container">
            <p>
                <span style="font-size: 14px;color: #333;">警告</span>: 此网站只适合十八岁或以上人士观看, 此网站内容可能令人反感；不可将此区域的内容派发，传阅，出售，出租，交给或者 借予年龄未满18岁的人士或将本网站内容向该人士出售，播放或放映，如果你是该影片的版权方所有者而要求删除影片的，请联系
                我们，我们会很快做出回复。
            </p>
        </div>
        <div style="text-align: left;">
            <ul class="xvideo-footer-nav v-container">
                <li class="current">
                    <a href="/about/question">常见问题</a>
                    <span style="">|&nbsp;</span>
                </li>
                <li>
                    <a href="/about/contact">联系我们</a>
                    <span style="">|&nbsp;</span>
                </li>
                <li>
                    <a href="/about/privacy">隐私政策</a>
                    <span style="">|&nbsp;</span>
                </li>
                <li>
                    <a href="/about/agreement">用户协议</a>
                    <span style="">|&nbsp;</span>
                </li>
                <li>
                    <a href="/about/dmca">DMCA</a>
                    <span style="">|&nbsp;</span>
                </li>
                <li>
                    <a href="/about/partner">合作伙伴</a>
                </li>
            </ul>
        </div>

        <p class="v-container" style="text-align: left;line-height: 18px;color: #666;">
            Copyright @ 2016 qingcaoav.com, All Rights
        </p>
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86458345-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        $('a[title="站长统计"]').hide();
    </script>
    <script src="http://qcstatic.qstaic.com/js/vl-c95914139e.min.js"></script>
    <script src="http://qcstatic.qstaic.com/js/va-de541266f9.min.js"></script>
    <script type="text/javascript">
        $(function () {
            FastClick.attach(document.body);
        });
    </script>
    <script src="http://qcstatic.qstaic.com/js/page-login-b27adac5a6.min.js"></script>
</body>

</html>