<link rel="stylesheet" href="/assets/css/security.css">
<div class="my-center-right pull-left col-xs-12 col-md-9 col-sm-9">
    <div class="center-right-title">帐号安全</div>
    <div class="center-right-content">
        <div class="clearfix">
            <li class="div-first">
                帐号密码
            </li>
            <li class="div-second hidden-xs hidden-sm">
                设置一个含数字和字母，且长度超过6位以上的密码，并建议你定期更换密码。
            </li>
            <li class="div-third">
                <a href="{:url('user/changepwd')}">修改</a>
            </li>
        </div>
        <div class="clearfix">
            <li class="div-first">安全邮箱
                <span>已绑定</span>
            </li>
            <li class="div-second hidden-xs hidden-sm">
                {$user.email}
            </li>
            <li class="div-third">
                <a href="/my/security/email">修改</a>
            </li>
        </div>
        <div class="clearfix">
            <li class="div-first">支付密码
                <span>未设置</span>
            </li>
            <li class="div-second"></li>
            <li class="div-third">
                <a href="/my/security/setpay">设置支付密码</a>
            </li>
        </div>
    </div>
</div>