<link rel="stylesheet" data-security="security" href="/assets/css/page-upload.css"/>
<div class="my-center-infolist pull-right col-xs-7 nopadding">
    <div class="my-center-infolist-container">
<div class="col-xs-12 nopadding">
    <div class="xvideo-panel">
        <div class="xvideo-panel-header">
            <div class="xvideo-panel-header-title pull-left">
                上传视频
            </div>
            <div class="xvideo-panel-header-opeartion pull-right">

            </div>
        </div>
        <div style="width:80%;margin:0 auto;">
            <div class="xvideo-upload-video-tips">
                <span class="xyvideo-icon xyvideo-icon-warning-white"></span>
                <span>点击"上传"，既表示您同意服务条款，并且您愿意提供任何信息的要求。</span>
            </div>
            <div class="xvideo-upload-video-form">
                <form class="form-horizontal xvideo-form-validation" method="POST" action="">
                    <fieldset>
                        {:token()}
                        <input type="hidden" name="id" value="">

                        <div class="form-group hide">
                            <label class="col-xs-2 control-label" for="type">分类</label>

                            <div class="col-xs-5">
                                <div class="pull-left clearfix" style="width: 100%">
                                    <label class="radio-inline pull-left" for="type-1">
                                        <div class="iradio_square-pink checked" style="position: relative;"><input type="radio" name="type" id="type-1" value="2" data-text="视频" data-is-valid="true" checked="checked" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                        普通视频
                                    </label>
                                    <label class="radio-inline pull-left" for="type-0">
                                        <div class="iradio_square-pink" style="position: relative;"><input type="radio" name="type" id="type-0" value="1" data-text="精品视频" data-is-valid="true" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                        精品视频
                                    </label>
                                </div>
                                <div class="pull-right hidden">
                                    <span alt="提醒" class="xvideo-img-rewards"></span>
                                    <span style="display: inline-block;position: relative;bottom: 6px;left: -9px;color: #d50678">精品视频 +60积分</span>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="help-block" style="display: none;">
                                        <span class="xyvideo-icon xyvideo-icon-cancel3 hide" style="font-size: 14px;">
                                            <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;"></span>
                                        </span>
                                    <span class="xyvideo-icon xyvideo-icon-checkmark hide" style="font-size: 14px;">
                                            <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;"></span>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="xvideo-upload-video-title">标题</label>

                            <div class="col-xs-5">
                                <input maxlength="78" tipmsg="请填写视频标题" nullmsg="视频标题不能为空哦" errormsg="标题太长啦" id="xvideo-upload-video-title" name="name" type="text" placeholder="视频标题" class="form-control input-md">
                            </div>
                            <div class="col-xs-3">
                                <div class="help-block" style="display: none;">
                                       <span class="xyvideo-icon xyvideo-icon-cancel3" style="font-size: 14px;">
                                           <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;"></span>
                                       </span>
                                    <span class="xyvideo-icon xyvideo-icon-checkmark" style="font-size: 14px;">
                                           <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;"></span>
                                       </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="xvideo-upload-video-desc">描述</label>

                            <div class="col-xs-5">
                                <textarea class="form-control" tipmsg="请填写视频描述" nullmsg="" errormsg="简介内容太长了" id="xvideo-upload-video-desc" name="desc" placeholder="描述最多可以输入150个字符" maxlength="150"></textarea>
                            </div>
                            <div class="col-xs-3">
                                <div class="help-block" style="display: none;">
                                       <span class="xyvideo-icon xyvideo-icon-cancel3" style="font-size: 14px;">
                                           <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;"></span>
                                       </span>
                                    <span class="xyvideo-icon xyvideo-icon-checkmark" style="font-size: 14px;">
                                           <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;"></span>
                                       </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="">
                            <label class="col-xs-2 control-label" for="xvideo-upload-video-tag">内容标签</label>

                            <div class="col-xs-5">
                                <input id="xvideo-upload-video-tag" tipmsg="可添加5个标签" nullmsg="请输入内容标签" errormsg="标签数量最多为5个" name="tags" type="hidden" placeholder="请输入内容标签" data-is-valid="true" class="form-control input-md xvideo-upload-video-tags">
                                <div class="xvideo-uploadu-tags-container" style="">

                                </div>
                                <button class="btn xvideo-upload-tags-btn" id="tags" type="button">选择标签</button>
                            </div>
                            <div class="col-xs-3">
                                <div class="help-block" style="display: none;">
                                       <span class="xyvideo-icon xyvideo-icon-cancel3" style="font-size: 14px;display: none;">
                                           <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;"></span>
                                       </span>
                                    <span class="xyvideo-icon xyvideo-icon-checkmark" style="font-size: 14px;display: none;">
                                           <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;"></span>
                                       </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="isAnoymous">是否匿名</label>

                            <div class="col-xs-5">
                                <label class="radio-inline" for="isAnoymous-0">
                                    <div class="iradio_square-pink" style="position: relative;"><input type="radio" name="is_anonymous" id="isAnoymous-1" value="1" data-text="匿名" data-is-valid="true" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                    是
                                </label>
                                <label class="radio-inline" for="isAnoymous-1">
                                    <div class="iradio_square-pink checked" style="position: relative;"><input type="radio" name="is_anonymous" id="isAnoymous-0" value="0" checked="checked" data-text="公开" data-is-valid="true" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                    否
                                </label>
                            </div>
                            <div class="col-xs-3">
                                <div class="help-block" style="display: none;">
                                       <span class="xyvideo-icon xyvideo-icon-cancel3" style="font-size: 14px;">
                                           <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;">请确认是否匿名</span>
                                       </span>
                                    <span class="xyvideo-icon xyvideo-icon-checkmark" style="font-size: 14px;">
                                           <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;"></span>
                                       </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="isAnoymous">服务条款</label>
                            <div class="col-xs-4 nopadding">
                                <div class="checkbox nopadding">
                                    <label class="">
                                        <div class="icheckbox_square-pink checked" style="position: relative;"><input type="checkbox" name="remember" checked="" data-is-valid="true" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                        <a target="_blank" href="/about/agreement" style="color:#333;text-decoration: none">我已同意服务条款</a>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="upload">上传</label>

                            <div class="col-xs-5 clearfix">
                                <div class="xvideo-upload-video-file-drop-area pull-left xvideo-filepicker-container" id="xvideo-upload-video-file-drop-area" style="position: relative;">
                                    <a class="btn" id="apv-btn-pickfile">添加文件</a>
                                    <div id="flash_1cb4mvrcc15i81pht1un91f8agt53_container" class="moxie-shim moxie-shim-flash" style="position: absolute; top: 0px; left: 0px; width: 82px; height: 34px; overflow: hidden;"><object id="flash_1cb4mvrcc15i81pht1un91f8agt53" type="application/x-shockwave-flash" data="/vendor/jildertmiedema/laravel-plupload/js/Moxie.swf" width="100%" height="100%" style="outline:0"><param name="movie" value="/vendor/jildertmiedema/laravel-plupload/js/Moxie.swf"><param name="flashvars" value="uid=flash_1cb4mvrcc15i81pht1un91f8agt53&amp;target=moxie.core.EventTarget.instance.dispatchEvent"><param name="wmode" value="transparent"><param name="allowscriptaccess" value="always"></object></div></div>
                                <div class="pull-left xvideo-fileremove-container" style="display: none;" data-id="">
                                    <a class="btn btn-danger" id="apv-btn-removeFile">删除文件</a>
                                </div>
                                <div class="pull-right" style="width: 370px;">
                                    <div class="progress xvideo-progress" style="height: 33px; margin-bottom: 5px;position: relative;">
                                        <div class="progress-bar" role="progressbar" data-transitiongoal="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div id="xvideo-upload-file-name">
                                            <span id="xvideo-upload-name">请上传文件 </span>
                                            <span id="xvideo-current-percent"></span>
                                        </div>
                                    </div>
                                    <div class="pull-left" style="color: #333;">
                                        <span>上传大小:</span>
                                        <span>
                                                <span id="current-upload-size">0 MB</span>/
                                                <span id="total-upload-size">0 MB</span>
                                            </span>
                                    </div>
                                    <div class="pull-right" style="color: #333;">
                                        <span>上传速度:</span>
                                        <span>
                                                <span id="upload-speed">0 MB</span>/s
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="help-block" style="display: none;">
                                         <span class="xyvideo-icon xyvideo-icon-cancel3 show" style="font-size: 14px;">
                                             <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;">请上传视频文件</span>
                                         </span>
                                    <span class="xyvideo-icon xyvideo-icon-checkmark hide" style="font-size: 14px;">
                                             <span class="ib microYaHei" style="font-size: 14px; position: relative; bottom: 2px;"></span>
                                         </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-5 xvideo-upload-video-info">
                                感谢您的每个视频，视频的发布和转换需要一点时间来处理，此过程需要24-48小时，
                                具体的时间取决与视频容量，格式，服务器负载等，发布完成后，会及时推送信息。
                            </div>
                        </div>
                        <div class="form-hr col-xs-5"></div>
                        <div class="form-group" style="padding-left: 130px;text-align: center;">
                            <div class="col-xs-7">
                                <input type="submit" id="submit" class="btn btn-lg btn-upload-video" value="确认上传">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>

<div id="dialog" class="xvideo-upload-dialog hide">
    <div class="xvideo-upload-div">
        <div class="clearfix">
            <div class="xvideo-upload-tips hide">
                <span class="xyvideo-icon xyvideo-icon-warning-white"></span>您最多只能选择五个标签
            </div>
            <div class="xvideo-upload-close"></div>
        </div>
        <div class="xvideo-upload-container">

            <div class="xvideo-upload-title">
                <div class="xvideo-upload-tags-title">全部分类</div>
            </div>
            <div class="xvideo-upload-tags">
                <div class="tags-tags-title">部位</div>
                <div class="tags-container">
                    <div class="tag-content" data-tag-id="">蝴蝶逼</div>
                    <div class="tag-content" data-tag-id="">巨乳</div>
                    <div class="tag-content" data-tag-id="">平胸</div>
                    <div class="tag-content" data-tag-id="">巨根</div>
                    <div class="tag-content" data-tag-id="">白虎</div>
                    <div class="tag-content" data-tag-id="">馒头</div>
                </div>
            </div>
            <div class="xvideo-upload-tags">
                <div class="tags-tags-title">分类</div>
                <div class="tags-container">
                    <div class="tag-content" data-tag-id="">大陆</div>
                    <div class="tag-content" data-tag-id="">日本</div>
                    <div class="tag-content" data-tag-id="">韩国</div>
                    <div class="tag-content" data-tag-id="">动漫</div>
                    <div class="tag-content" data-tag-id="">亚太</div>
                    <div class="tag-content" data-tag-id="">欧美</div>
                    <div class="tag-content" data-tag-id="">有码</div>
                    <div class="tag-content" data-tag-id="">无码</div>
                </div>
            </div>
            <div class="xvideo-upload-tags">
                <div class="tags-tags-title">场景</div>
                <div class="tags-container">
                    <div class="tag-content" data-tag-id="">车震</div>
                    <div class="tag-content" data-tag-id="">酒店</div>
                    <div class="tag-content" data-tag-id="">野外</div>
                    <div class="tag-content" data-tag-id="">公共厕所</div>
                    <div class="tag-content" data-tag-id="">办公室</div>
                    <div class="tag-content" data-tag-id="">KTV</div>
                    <div class="tag-content" data-tag-id="">游泳池</div>
                    <div class="tag-content" data-tag-id="">公园</div>
                    <div class="tag-content" data-tag-id="">楼梯口</div>
                    <div class="tag-content" data-tag-id="">教室</div>
                    <div class="tag-content" data-tag-id="">公交车</div>
                    <div class="tag-content" data-tag-id="">电车</div>
                </div>
            </div>
            <div class="xvideo-upload-tags">
                <div class="tags-tags-title">热点类</div>
                <div class="tags-container">
                    <div class="tag-content" data-tag-id="">明星</div>
                    <div class="tag-content" data-tag-id="">偷拍</div>
                    <div class="tag-content" data-tag-id="">丑闻</div>
                </div>
            </div>
            <div class="xvideo-upload-tags">
                <div class="tags-tags-title">动作</div>
                <div class="tags-container">
                    <div class="tag-content" data-tag-id="">69式</div>
                    <div class="tag-content" data-tag-id="">后入式</div>
                    <div class="tag-content" data-tag-id="">女上位</div>
                    <div class="tag-content" data-tag-id="">无套内射</div>
                    <div class="tag-content" data-tag-id="">颜射</div>
                    <div class="tag-content" data-tag-id="">吹箫</div>
                    <div class="tag-content" data-tag-id="">深喉</div>
                    <div class="tag-content" data-tag-id="">添阴</div>
                    <div class="tag-content" data-tag-id="">口爆</div>
                    <div class="tag-content" data-tag-id="">潮吹</div>
                    <div class="tag-content" data-tag-id="">手淫</div>
                    <div class="tag-content" data-tag-id="">打飞机</div>
                    <div class="tag-content" data-tag-id="">自慰</div>
                </div>
            </div>
            <div class="xvideo-upload-tags">
                <div class="tags-tags-title">癖好</div>
                <div class="tags-container">
                    <div class="tag-left-border"></div>
                    <div class="tag-content" data-tag-id="">自拍</div>
                    <div class="tag-content" data-tag-id="">叫床</div>
                    <div class="tag-content" data-tag-id="">偷窥</div>
                    <div class="tag-content" data-tag-id="">恋足</div>
                    <div class="tag-content" data-tag-id="">SM</div>
                    <div class="tag-content" data-tag-id="">强奸</div>
                    <div class="tag-content" data-tag-id="">毒龙</div>
                    <div class="tag-content" data-tag-id="">捆绑</div>
                    <div class="tag-content" data-tag-id="">鞭打</div>
                    <div class="tag-content" data-tag-id="">拳交</div>
                    <div class="tag-content" data-tag-id="">肛交</div>
                    <div class="tag-content" data-tag-id="">中出</div>
                    <div class="tag-content" data-tag-id="">狗链</div>
                    <div class="tag-content" data-tag-id="">滴蜡</div>
                    <div class="tag-content" data-tag-id="">3P</div>
                    <div class="tag-content" data-tag-id="">群P</div>
                    <div class="tag-content" data-tag-id="">同性恋</div>
                    <div class="tag-content" data-tag-id="">异装癖</div>
                    <div class="tag-content" data-tag-id="">人妖</div>
                </div>
            </div>
            <div class="xvideo-upload-tags">
                <div class="tags-tags-title">道具</div>
                <div class="tags-container">
                    <div class="tag-left-border"></div>
                    <div class="tag-content" data-tag-id="">丁字裤</div>
                    <div class="tag-content" data-tag-id="">蕾丝</div>
                    <div class="tag-content" data-tag-id="">丝袜</div>
                    <div class="tag-content" data-tag-id="">假鸡巴</div>
                    <div class="tag-content" data-tag-id="">跳蛋</div>
                    <div class="tag-content" data-tag-id="">震动棒</div>
                    <div class="tag-content" data-tag-id="">眼罩</div>
                    <div class="tag-content" data-tag-id="">皮鞭</div>
                    <div class="tag-content" data-tag-id="">蜡烛</div>
                </div>
            </div>
            <div class="xvideo-upload-tags">
                <div class="tags-tags-title">角色扮演</div>
                <div class="tags-container">
                    <div class="tag-left-border"></div>
                    <div class="tag-content" data-tag-id="">乱伦</div>
                    <div class="tag-content" data-tag-id="">空姐</div>
                    <div class="tag-content" data-tag-id="">新娘</div>
                    <div class="tag-content" data-tag-id="">医生</div>
                    <div class="tag-content" data-tag-id="">护士</div>
                    <div class="tag-content" data-tag-id="">警察</div>
                    <div class="tag-content" data-tag-id="">学生</div>
                    <div class="tag-content" data-tag-id="">老师</div>
                    <div class="tag-content" data-tag-id="">秘书</div>
                    <div class="tag-content" data-tag-id="">女仆</div>
                    <div class="tag-content" data-tag-id="">强奸</div>
                    <div class="tag-content" data-tag-id="">技师</div>
                </div>
            </div>
            <div class="xvideo-upload-tags">
                <div class="tags-tags-title">人群</div>
                <div class="tags-container">
                    <div class="tag-left-border"></div>
                    <div class="tag-content" data-tag-id="">少妇</div>
                    <div class="tag-content" data-tag-id="">熟女</div>
                    <div class="tag-content" data-tag-id="">学生</div>
                    <div class="tag-content" data-tag-id="">妓女</div>
                    <div class="tag-content" data-tag-id="">小姐</div>
                    <div class="tag-content" data-tag-id="">鸡</div>
                    <div class="tag-content" data-tag-id="">嫩模</div>
                    <div class="tag-content" data-tag-id="">人妻</div>
                    <div class="tag-content" data-tag-id="">素人</div>
                    <div class="tag-content" data-tag-id="">痴汉</div>
                    <div class="tag-content" data-tag-id="">黑人</div>
                </div>
            </div>
        </div>

        <div class="xvideo-upload-btn">
            <input type="button" class="btn btn-lg btn-upload-choose" value="确认选择">
        </div>
    </div>
</div>

<script>
    $(function(){
        layer.alert('上传服务器维护中');
        $('#submit').click(function(){
            layer.alert('上传服务器维护中');
           return false;
       })
    })
</script>
<script src="/assets/js/frontend/page-upload-file.js"></script>